<!DOCTYPE html>
<html>
  <head>
    <title>Subinhblog</title>
    <meta name="author" content="806519191@qq.com">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href='/stylesheets/style.css' />
    <script src="https://unpkg.com/marked@0.3.6"></script>
    <script src="https://unpkg.com/lodash@4.16.0"></script>

    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
  </head>
  <body>
    <% include ./_nav %>
    <%- body %>
  </body>
  <footer class="container" style="margin-top: 150px;">
      <p class="text-center">Copyright ©2018 Subinhblog
          <br>Design by subin
      </p>
  </footer>
</html>
